@import url('fonts.googleapis.com');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: white;
    color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    color: white;
    height: 72px;
}

.three {
    background: #e5e7eb;
    padding: 40px 150px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    font-size: 24px;
    font-weight: 800;
    text-align: right;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 36px;
    text-align: center;
} 

.box img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    display: flex
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.two {
    padding: 50px 150px;
}

.one {
    background: #1f2937;
    padding: 0 100px;
    color: white;
}

.hero-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 18px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.web p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 20px;
}

.image {
    border: 1px solid #1f2937;
    background-color: grey;
    height: 200px;
    width: 600px;
}

button {
    border-radius: 6px;
    background: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 8px 24px; 
}

.four {
    padding: 50px 150px;
}

.action {
    display: flex;
    background: #3882f6;
    justify-content: space-around;
    border: none;
    border-radius: 6px;
    color: #e5e7eb;
    padding: 20px;
}

.signup {
    border: 1px solid white;
}

h3, p {
    margin: 2px;
}